<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prueba Thymeleaf</title>
</head>
<body>
    <h2>Prueba de Thymeleaf</h2>

    <ul>
        <li th:each="cliente : ${clientes}">
            <p>ID: <span th:text="${cliente.id}"></span></p>
            <p>Email: <span th:text="${cliente.email}"></span></p>
            <p>Nombre: <span th:text="${cliente.nombre}"></span></p>
            <p>Apellido: <span th:text="${cliente.apellido}"></span></p>
            <p>DNI: <span th:text="${cliente.dni}"></span></p>
        </li>
    </ul>
</body>
</html>
