<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: content">
<section>
    <h2>Turnos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Cliente ID</th>
                <th>Disponibilidad ID</th>
                <th>Servicio ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t : ${turnos}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.fecha}"></td>
                <td th:text="${t.hora}"></td>
                <td th:text="${t.estado}"></td>
                <td th:text="${t.clienteId}"></td>
                <td th:text="${t.disponibilidadId}"></td>
                <td th:text="${t.servicioId}"></td>
            </tr>
        </tbody>
    </table>
</section>
</html>
